*{
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding:  10px 0;
}
.navigation > ul{
  display: flex;
  list-style: none;
}
.navigation > ul >li{
  margin: 10px 30px;
  color: white;
}
.navbar > p{
  margin: 10px 30px;
}
